.mesh-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: var(--background);
    /* Solid high-contrast base */
}

.gradient-orb {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    /* Heavy blur for soft, unintrusive look */
    opacity: 0.12;
    /* Very transparent to reduce visual noise */
    will-change: transform;
    animation: drift 25s infinite alternate ease-in-out;
}

.orb-1 {
    width: 80vh;
    height: 80vh;
    background-color: var(--primary);
    /* #4685ff */
    top: -20vh;
    left: -20vh;
}

.orb-2 {
    width: 70vh;
    height: 70vh;
    background-color: var(--accent);
    /* #ffb084 */
    bottom: -15vh;
    right: -15vh;
    animation-delay: -12s;
}

@keyframes drift {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(30px, 30px) scale(1.05);
    }
}